@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
.bold {
  font-weight: 600;
}

h2 {
  font-weight: 400;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  background: rgb(243, 243, 243);
}

.container1 {
  width: 100%;
  background: rgb(111, 115, 218);
  color: white;
  grid-area: app-header;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 95%;
  height: 50px;
}

nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .bell {
  width: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  border-right: solid 1px rgb(111, 115, 218);
  margin-right: 10px;
}

nav div img:nth-child(2) {
  width: 35px;
  border-radius: 50px;
  margin-right: 10px;
}

nav div span {
  font-size: 12px;
  font-weight: 300;
}

.container2 {
  grid-area: app-nav;
  width: 100%;
  background: rgb(65, 67, 117);
}

.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 50px;
  width: 65%;
}
.tabs img {
  width: 30px;
}

.dashboard-tab {
  font-size: 20px;
  font-weight: 400;
  background: white;
  display: inline-block;
  height: 50px;
  width: 130px;
  padding: 10px;
  padding-top: 14px;
}

.alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background: rgb(111, 115, 218);
  color: white;
  font-weight: 300;
  font-size: 13px;
  height: 30px;
  border-radius: 5px;
  width: 100%;
}
.alert span {
  font-weight: 500;
}

main {
  grid-area: app-main;
  background: white;
  padding-top: 20px;
}

.underline {
  border-bottom: 1px solid rgb(177, 177, 177);
}

main div h2 {
  margin-bottom: 20px;
}

.social-stat-container h2 {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.social-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: white;
}

.stat {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  background: rgb(243, 243, 243);
  width: 100%;
  border: 1px solid rgb(170, 170, 170);
  margin-bottom: 15px;
  border-radius: 5px;
}
.stat img {
  width: 60px;
  padding: 10px;
  background-color: rgb(111, 115, 218);
  border-radius: 50px;
}
.stat div {
  margin-left: 16px;
}
.stat h3 {
  color: rgb(111, 115, 218);
  font-weight: 400;
  font-size: 18px;
}
.stat span {
  color: gray;
  font-weight: 300;
  font-size: 40px;
}

.new-members-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.member {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: solid 1px black;
}
.member .person {
  text-align: center;
}
.member img {
  width: 80px;
  border-radius: 50px;
}

@media (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas: "app-header app-header" "app-nav app-main" "app-nav app-main";
  }
  .container2 {
    width: 50px;
    height: 400vh;
    padding-top: 20px;
    position: absolute;
    top: 50px;
    left: 0;
  }
  .tabs {
    flex-direction: column;
    width: 100%;
    height: 200px;
  }
  .dashboard-tab {
    margin-left: 50px;
  }
  .duo-chart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .duo-chart div {
    flex-grow: 1;
  }
  .social-stats {
    flex-direction: row;
  }
  .social-stats h2 {
    width: auto;
  }
  .stat {
    width: 500px;
  }
  .member {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .person {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .person .name-email {
    text-align: left;
  }
}

/*# sourceMappingURL=main.css.map */
