@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
// font-family: 'Roboto', sans-serif;

@import 'values';
@import 'desktop';

// NAVBAR 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgb(242, 242, 242);
}

